<div class="card">
    <div class="card-header">
        <h3><i class="bi bi-people"></i>Users</h3>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" routerLink="/users/create">Create User <i class="bi bi-pencil"></i> </a>
   
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" [formControl]="searchText" name="searchText">
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th sortable="name" (sort)="onSort($event)">Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dataUser | async | slice: (page-1) * pageSize : page * pageSize">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button 
                        [swal]="{title:'Apakah anda ingin menghapus user ini?',icon: 'warning', showCancelButton: true, confirmButtonText: 'Yes, delete it!', cancelButtonText: 'No, keep it.'}"
                        class="btn btn-warning" 
                        (confirm)="deleteUser(user.id)"
                    >Delete</button>
                    <a class="btn btn-primary" [routerLink]="['/users', user.id, 'edit']">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="(dataUser | async)?.length || 0">
    </ngb-pagination>
    </div>
</div>
