<div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input 
        type="text" 
        class="form-control" 
        placeholder="Name" 
        [(ngModel)]="user.name" 
        id="name"
        name="name" placeholder="Name" required/>
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input 
        type="email" 
        class="form-control" 
        placeholder="email" 
        [(ngModel)]="user.email" 
        id="email"
        name="email" placeholder="email@mail.com" required/>
</div>
<div class="mb-3">`
    <label for="phone" class="form-label">Phone</label>
    <input 
        type="text" 
        class="form-control" 
        placeholder="phone" 
        [(ngModel)]="user.phone" 
        id="phone"
        name="phone" placeholder="+62 ...." required/>
</div>
<button id="save" class="btn btn-success" *ngIf="!isEdit" (click)="saveUser()" [disabled]="isSubmitting">Save</button>
<button id="update" class="btn btn-primary" *ngIf="isEdit" (click)="updateUser()" [disabled]="isSubmitting">UPDATE</button>